@inject OurPlace.Services.Interfaces.IFriendService friendService
@inject Microsoft.AspNetCore.Identity.UserManager<OurPlace.Data.User> userManager
@{
    var userId = userManager.GetUserId(User);
    var allFriends = friendService.GetAll(userId);
}
<div class="friendSidebard" id="sidebar">
    <h3 class="sidebarHeader">Friends</h3>

    <div class="sidebardBody">
        @foreach (var friend in allFriends)
        {
            <a>
                <div class="friend">@friend.FriendName</div>
            </a>
        }
        <div class="friend">Friend 1</div>
        <div class="friend">Friend 2</div>
        <div class="friend">Friend 3</div>
    </div>
</div>