@inject OurPlace.Services.Interfaces.IFriendService friendService
@inject Microsoft.AspNetCore.Identity.UserManager<OurPlace.Data.User> userManager
@{
    var userId = userManager.GetUserId(User);
    var allFriends = friendService.GetAll(userId);
}
<div class="friendSidebard left" id="sidebar" style="left: -270px">
    <h3 class="sidebarHeader">Friends</h3>

    <div class="sidebardBody">
        @foreach (var friend in allFriends)
        {
            <div onclick="toggleChat('@userId', '@friend.FriendId')">
                <div class="friend">@friend.FriendName</div>
            </div>
        }
    </div>
</div>