.timeLine {
    width: 70%;
    margin: auto;
}

.timeLineHeader {
    padding: 20px;
    background-color: whitesmoke;
    margin-bottom: 20px;
}

.postFormContainer {
    padding: 20px;
    margin-bottom: 20px;
    background-color: whitesmoke
}
    .postFormContainer input, textarea{
        margin-bottom: 10px;
    }
    .postFormContainer h5 {
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    }

.editPostForm {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}
    .editPostForm .btn-success {
        margin-left: 10px;
        width: 15%;
    }

.postIcon {
    font-size: 35px;
    cursor: pointer;
    margin-bottom: 10px;
}
    .postIcon:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

.postHeader {
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
}

.actionContainer {
    display: flex;
}
    .actionContainer div {
        margin-right: 5px;
    }

.postContainer {
    padding: 20px;
    background-color: #b8edff;
    margin-bottom: 20px;
}

.postImage {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
}

.postMessage {
    font-size: 1.2em;
}

.postInfo {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
    .postInfo .far {
        font-size: 1.2em;
        margin-right: 10px;
        cursor: pointer;
        color: black;
    }
    .postInfo .far:hover {
        text-decoration: none !important;
    }

.postLikes {
    display: flex;
}

.postDate {
    font-size: 0.9em;
}

@media only screen and (max-width : 991px) {
    .timeLine {
        width: 100%;
        margin: auto;
    }

    .postImage {
        height: 280px;
    }
}

@media only screen and (max-width : 768px) {
    .postImage {
        height: 200px;
    }
}
