@model OurPlace.Services.DtoModels.Response
@{
    ViewData["Title"] = "ActionResponse";
}

<div class="container">
    @if (string.IsNullOrEmpty(Model.SuccessMessage))
    {
        <h3>@Model.Error</h3>
    }
    else
    {
        <h3>@Model.SuccessMessage</h3>

    }
    <hr />
    <p>Back to <a asp-action="HomePage">home page</a></p>
</div>

