@model OurPlace.Services.DtoModels.Response
@{
    ViewData["Title"] = "ActionResponse";
}

<div class="container">
    <h3>@Model.Error</h3>
    <hr />
    <p>Back to <a asp-action="Feed">home page</a></p>
</div>

