<div class="full hide" id="coverForm">
    <div class="content">
        <form asp-controller="Image" asp-action="UploadCover" method="post" enctype="multipart/form-data" class="customForm">
            <div id="closeForm" onclick="toggleForm('coverForm')">
                <i class="far fa-window-close"></i>
            </div>
            <h3>Upload new cover image</h3>
            <input type="file" id="file" name="coverImage">
            <input type="submit" class="btn btn-primary btn-sm" value="Upload" />
        </form>
    </div>
</div>