<div class="profileLayout">
    <div class="profilePhoto">
        @if (Model.ProfilePhoto == null)
        {
            <img src="~/defaultImage/defaultImage.png"/>
        }
        else
        {
            <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.ProfilePhoto)"/>
        }
    </div>
    <div class="coverPhoto">
        <div id="uploadCoverContainer" onmouseover="toggleUploadLink()" onmouseout="dismissUploadLink()">
            <i class="fas fa-camera-retro" id="coverIcon"></i>
            <div id="toggleCoverForm" class="hide" onclick="toggleUploadForm()">Upload cover photo</div>
        </div>
        @if (Model.CoverPhoto == null)
        {
            <img src="~/defaultImage/defaultCover.png" id="defaultCover"/>
        }
        else
        {
            <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.CoverPhoto)" />
        }
    </div>
    <div class="profileContainer">
        <a href="#">Time Line</a>
        <a asp-action="UserInfo" asp-route-userId="@Model.UserId">About</a>
        <a asp-action="UserPhotos" asp-route-userId="@Model.UserId">Photos</a>
        <a asp-action="UserFriends" asp-route-userId="@Model.UserId">Friends</a>
    </div>
</div>