@model OurPlace.Models.User.UserProfileModel
@{
    ViewData["Title"] = "MyProfile";
}
@section Styles {
    <link rel="stylesheet" href="~/css/Profile.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
}

<div class="container">
    <partial name="./Partials/_coverImageForm" />

    <partial name="./Partials/_profileLayout" for="Photos" />



</div>

@section Scripts {
    <script src="~/js/Profile.js"></script>
} 
