@model OurPlace.Models.User.UserProfileModel
@{
    ViewData["Title"] = "MyProfile";
}
@section Styles {
    <link rel="stylesheet" href="~/css/Profile.css" />
    <link rel="stylesheet" href="~/css/Timeline.css" />
}

<div class="container">
    <partial name="./Partials/_coverImageForm" />

    <partial name="./Partials/_profileLayout" for="Photos" />

    <div class="timeLine">

        <div class="timeLineHeader">
            <h3>Timeline</h3>
        </div>

        @if (Model.Photos.UserId == User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value)
        {
            <div class="postFormContainer">
                <h5>Create new post</h5>
                <form asp-controller="Post" asp-action="Create" asp-route-page="TimeLine" method="post" enctype="multipart/form-data">
                    <input hidden name="userId" value="@User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value" />
                    <div>
                        <i class="fas fa-camera-retro postIcon" onclick="togglePostFileInput()"></i>
                    </div>
                    <input type="file" id="postFileInput" class="hide" name="image" />
                    <textarea class="form-control" placeholder="Write something..." name="message"></textarea>
                    <input type="submit" value="Post" class="btn btn-success" />
                </form>
            </div>
        }

        <partial name="./Partials/_printingPosts" for="Posts" />

    </div>

</div>

@section Scripts {
    <script src="~/js/Profile.js"></script>
    <script src="~/js/Post.js"></script>
}
