@model OurPlace.Models.User.UserProfileModel
@{
    ViewData["Title"] = "MyProfile";
}
@section Styles {
    <link rel="stylesheet" href="~/css/Profile.css" />
}

<div class="container">
    
    <partial name="_profileLayout" for="Photos"/>

    

</div>


